{% extends 'base.html' %}

{% load humanize %}

{% block title%} | Search Results{% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white vertical-center">
    <div class="container">
        <div class="overlay"></div>
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Our Properties</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <form action="{% url 'search' %}">
                    <!-- Form Row 1 -->
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label class="sr-only">Keywords</label>
                            <input type="text" name="keywords" class="form-control"
                                placeholder="Keyword (Pool, Garage, etc)" value="{{ values.keywords }}">
                        </div>
                        <div class="col-md-3 mb-3">
                            <select name="neighborhood" class="form-control">
                                <option selected="true" disabled="disabled">Neighborhood</option>
                                {% for key,value in neighborhood_choices.items %}
                                <option value="{{ key }}" {% if key == values.neighborhood %} selected {% endif %}>
                                    {{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3 mb-3">
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Max Price (All)</option>
                                {% for key,value in price_choices.items %}
                                <option value="{{ key }}" {% if key == values.price %} selected {% endif %}>{{ value }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label class="sr-only">Bedrooms</label>
                            <select name="bedrooms" class="form-control">
                                <option selected="true" disabled="disabled">Beds</option>
                                {% for key,value in bedroom_choices.items %}
                                <option value="{{ key }}" {% if key == values.bedrooms %} selected {% endif %}>
                                    {{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2 mb-3">
                            <button class="btn btn-secondary btn-block" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container justify-content-center">
        <div class="row">
            {% if listings %}
            {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
                <a href="{% url 'listing' listing.id %}">
                    <div class="card shadow zoom listing-preview">
                        <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                        <div class="card-img-overlay">
                            <h2>
                                <!-- <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span> -->
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row text-black-50 justify-content-center text-center p-0">
                                <div class="col-8">
                                    <span class="text-dark">{{ listing.title }}</span>
                                    <br>
                                    {{ listing.neighborhood }}
                                    <br>
                                    Price: ${{ listing.price }}
                                    <br>
                                    Beds: {{ listing.bedrooms }} | Baths: {{ listing.bathrooms }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-12 mx-auto">
                {% if listings.has_other_pages %}
                <ul class="pagination">
                    {% if listings.has_previous %}
                    <li class="page-item">
                        <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo</a>
                    </li>
                    {% endif %}
                    {% for i in listings.paginator.page_range %}
                    {% if listings.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if listings.has_next %}
                    <li class="page-item">
                        <a href="?page={{listings.next_page_number}}" class="page-link">&raquo</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}