{% extends 'base.html' %}

{% load humanize %}

{% block title%} | Welcome{% endblock %}

{% block content %}
<!-- Showcase -->
<div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container text-center jumbotron-content">
        <h1 class="display-4 font-weight-bold">
            Discover Your New Home
        </h1>
        <p class="h3 font-weight-normal">Helping renters find the perfect fit!</p>
        <hr>
        <div class="search"></div>
        <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row justify-content-center">
                <div class="col-md-3 mb-3">
                    <label class="sr-only">Neighborhood</label>
                    <select name="neighborhood" class="form-control">
                        <option selected="true" disabled="disabled">Neighborhood</option>
                        {% for key,value in neighborhood_choices.items %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <button class="btn btn-secondary btn-block" type="submit">Search Now</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>
</div>


<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4 font-weight-light">Latest Listings</h2>
        <div class="row">
            {% if listings %}
            {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-3 mb-4">
                <a href="{% url 'listing' listing.id %}">
                    <div class="card shadow zoom rounded-0 listing-preview">
                        <img class="card-img-top rounded-0" src="{{ listing.photo_main.url }}" alt="">
                        <div class="card-img-overlay">
                            <h2>
                                <!-- <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span> -->
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="row text-black-50 justify-content-center text-center p-0">
                                <div class="col-10">
                                    <span class="text-dark">{{ listing.title }}</span>
                                    <br>
                                    {{ listing.neighborhood }}
                                    <br>
                                    Price: ${{ listing.price_range.lower }}-${{ listing.price_range.upper }}
                                    <br>
                                    Beds: {{ listing.bedrooms.lower }}-{{ listing.bedrooms.upper }}| Baths:
                                    {{ listing.bathrooms }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>No Listings Available</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <a href="{% url 'search' %}">
            <div class="col-md-4 text-center">
                <div class="btn btn-secondary rounded-5 px-5 py-2">
                    View More
                </div>
            </div>
        </a>
    </div>
</section>

<hr class="w-50 my-0">

<section id="services" class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center services-info">
            <div class="col-md-6 order-2 order-md-1">
                <h3>Helping You Find the Perfect Fit</h3>
                <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis
                    nam! </p>
            </div>
            <div class="col-md-6 p-0 order-1 order-md-2">
                <div class="card rounded-0 border-0">
                    <img src="../static/img/blackfam.jpg" class="card-img rounded-0" alt="...">
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center align-items-center services-info">
            <div class="col-md-6 p-0">
                <div class="card rounded-0 border-0">
                    <img src="../static/img/Kitchen.jpg" class="card-img rounded-0" alt="...">
                </div>
            </div>
            <div class="col-md-6 ">
                <h3>Luxury at the Right Price</h3>
                <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis
                    nam! </p>
            </div>
        </div>
        <div class="row justify-content-center text-center align-items-center services-info">
            <div class="col-md-6 order-2 order-md-1">
                <h3>Helping Investors Maximize Occupancy</h3>
                <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis
                    nam! </p>
            </div>
            <div class="col-md-6 p-0 order-1 order-md-2">
                <div class="card rounded-0 border-0">
                    <img src="../static/img/familymovingin.jpg" class="card-img rounded-0" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container mb-5">
        <div class="row justify-content-center text-center ">
            <div class="col-md-12">
                <h4>Search hundreds of listings including apartments, houses, condos and townhomes available for rent in
                    Accra. You'll find your next home in any style you prefer.</h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}