*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.ais-GeoSearch-map {
  border-radius: 15px;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  color: #fff;
  background-color: #00a3b0;
  border-color: #00a3b0;
}

.ais-Pagination-link {
  color: #00a3b0;
}
